.front{
    transition: 1s;
}
.back{
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    -webkit-backface-visibility:hidden;	/* Chrome 和 Safari */
    -moz-backface-visibility:hidden; 	/* Firefox */
    -ms-backface-visibility:hidden; 	/* Internet Explorer */
    transition: 1s;
    background-size: cover;
    background-position: center;
    background-image: url('../img/xdmy.png');
    filter: invert(100%);
    position: absolute;
    width: 100%;
    min-height: 100%;
    backface-visibility:hidden;
    animation: breathe 2.7s alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    border-radius: 2vmin;
}
@media screen and (min-width: 640px){
    .box:active .front{
        transform: rotateY(180deg);
    }
    .box:active .back{
        transform: rotateY(0deg);
    }
    .box{
        left: 20%;
        top: 20%;
        width: 60%;
    }
    .front{
        justify-content: space-around;
    }
}